.scroll-to-top-button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #428b42;
    color: #fff;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 100rem;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    transition: opacity 0.3s ease;
    z-index: 5;
    box-shadow: 0 0 10px 1px #2a672a;
}
.scroll-to-top-button p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
.scroll-to-top-button:hover {
    background-color: #2a672a;
}
.scroll-to-top-button.visible {
    opacity: 1;
}
