.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 1px #d2c4c4;
    color: black;
}
.container-footer {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.contacto-footer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-part-footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redes-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
}
.desarrollado-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 1px #d2c4c4;
    height: 15%;
    width: 100%;
}
