@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
    padding: 0;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
.container-btn-discord {
    width: 13rem;
    height: 7rem;
    position: fixed;
    right: 0rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-discord {
    width: 100%;
    height: 100%;
}
