@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.ty {
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    border-radius: 5px;
}
.ty:hover {
    box-shadow: 0 0 10px 2px rgb(182, 177, 177);
    color: white;
}
