.container-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60%;
}
.skill {
    width: 4rem;
    height: 4rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
.skill:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
